{% extends 'good_hands/base.html' %}


{% block content %}
    <header class="header--form-page">
        {% include 'good_hands/nav_bar.html' %}
        <div class="slogan container container--90">
            <h2>Dane użytkownika</h2>
            <div>
                <ul class="help--slides-items">
                    <li><h1>Imię: {{ user.first_name }}</h1></li>
                    <li><h1>Nazwisko: {{ user.last_name }}</h1></li>
                    <li><h1>E-mail: {{ user.email }}</h1></li>
                </ul>
            </div>
            <div>
                <ol> <h1>Dary przekazane przez użytkownika:</h1>
                    {% for donation in donations %}
                        <li><h3 {% if donation.is_taken %} style="background-color: lightgray" {% endif %}>
                            Przekazałeś worki w ilości: {{ donation.quantity }}; kategorii:
                            {{ donation.categories.all|join:', ' }};
                            na rzecz: {{ donation.institution.get_type_display }}
                            {{ donation.institution }};
                            Status:
                            {% if donation.is_taken %}
                            odebrano
                            {% else %}
                            nie odebrano
                            {% endif %}
                            <button><a href="{% url 'donation_taken' donation.id %}">Zmień status daru</a></button>


                        </h3></li>
                    {% endfor %}
                </ol>
            </div>

        </div>
{% endblock %}